<button class="btn btn-primary btn-add" (click)="open(content)">
  Add Domain
</button>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Add new domain</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="domainForm" (ngSubmit)="onSubmit()">
      <!-- Name input -->
      <div class="form-group">
        <label for="name" class="d-none">Name</label>
        <input
          type="text"
          class="form-control"
          formControlName="name"
          class="form-control"
          [ngClass]="{
            'is-invalid': submitted && errors.name
          }"
          placeholder="Name"
        />
        <div *ngIf="submitted && errors.name" class="invalid-feedback">
          <div *ngIf="errors.name.required">
            Name is required
          </div>
        </div>
      </div>
      <!-- Name input end -->
      <!-- Registrar input -->
      <div class="form-group">
        <label for="registrar-input" class="d-none">Registrar</label>
        <select
          class="custom-select"
          [ngClass]="{
            'is-invalid': submitted && errors.registrar
          }"
          id="registrar-input"
          formControlName="registrar"
        >
          <option value="" disabled hidden selected>Select registrar</option>
          <ng-container *ngFor="let registrar of registrar$ | async as list">
            <option value="{{ registrar.class }}">{{ registrar.label }}</option>
          </ng-container>
        </select>
        <div
          *ngIf="submitted && errors.registrar"
          class="invalid-feedback d-block"
        >
          <div *ngIf="errors.registrar.required">
            Registrar needs to be selected
          </div>
        </div>
      </div>
      <!-- Registrar input end -->
      <!-- Dns input -->
      <div class="form-group">
        <label for="dns-input" class="d-none">dns</label>
        <select
          class="custom-select"
          [ngClass]="{
            'is-invalid': submitted && errors.dns
          }"
          id="dns-input"
          formControlName="dns"
        >
          <option value="" disabled hidden selected>Select Dns</option>
          <ng-container *ngFor="let dns of dns$ | async as list">
            <option value="{{ dns.class }}">{{ dns.label }}</option>
          </ng-container>
        </select>
        <div *ngIf="submitted && errors.dns" class="invalid-feedback d-block">
          <div *ngIf="errors.dns.required">
            Dns needs to be selected
          </div>
        </div>
      </div>
      <!-- Dns input end -->
      <!-- Waf input-->
      <div class="form-group">
        <label for="waf-input" class="d-none">Waf</label>
        <select
          class="custom-select"
          [ngClass]="{
            'is-invalid': submitted && errors.waf
          }"
          id="waf-input"
          formControlName="waf"
        >
          <option value="" disabled hidden selected>Select waf</option>
          <ng-container *ngFor="let waf of waf$ | async as list">
            <option value="{{ waf.class }}">{{ waf.label }}</option>
          </ng-container>
        </select>
        <div *ngIf="submitted && errors.waf" class="invalid-feedback d-block">
          <div *ngIf="errors.waf.required">
            Waf needs to be selected
          </div>
        </div>
      </div>
      <!-- Waf input end -->
    </form>
  </div>
  <div class="modal-footer">
    <img
      *ngIf="creating"
      class="pl-3"
      src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
    />
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="addDomain()"
      [disabled]="creating"
    >
      Save
    </button>
  </div>
</ng-template>
