table,
tbody,
tr {
  cursor: pointer;
}
.btn-edit {
  margin: 0;
  padding: 0;
  border: none;
  background: #699cfc;
  color: #fff;
  font-size: 22px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.btn-edit span {
  display: inline-block;
  vertical-align: top;
  line-height: 40px;
  margin-left: 2px;
}
.btn-edit:hover {
  background: #6bcdfd;
}

.btn-edit.disabled {
  background: #c5c5c5;
}
.btn-edit.editing {
  background: #6dfd9c;
}
.table-wrap.disabled {
  position: relative;
  opacity: 0.5;
}
.table-wrap.disabled:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
  z-index: 1;
}
