<!--
<label>
  Name:
  <input type="text" [formControl]="searchTerm">
</label>
<p>
  <button (click)="search()">Search</button>
</p>
-->

<ng-template #noregistrarsfound>
  <div class="container">
    <p>No registrars found.</p>
  </div>
</ng-template>

<div class="container" *ngIf="registrars; else noregistrarsfound">

  <!--Table-->
  <table class="table table-hover table-fixed">

    <!--Table head-->
    <thead>
      <tr>
        <th>#</th>
        <th>Label</th>
      </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
      <tr *ngFor="let registrar of registrars; index as registrarId" routerLink="/registrars/{{ registrar.id }}">
        <th scope="row">{{ registrar.id }}</th>
        <td>{{ registrar.label }}</td>
      </tr>
    </tbody>
    <!--Table body-->

  </table>
  <!--Table-->

</div>
