<ng-template #registrarnotfound>
  <h2>Registrar not found</h2>

  <div class="container">
    <p>Registrar id '{{ id }}' not found.</p>
  </div>
</ng-template>

<div class="container" *ngIf="registrar; else registrarnotfound">
  <h2>Registrar '{{ registrar.label }}'</h2>

  <div class="container">
    <table class="table">
      <tr>
        <td>
          Domain count (active/total):
        </td>
        <td>
          <div>{{ registrar.domain_count_active + " / " + registrar.domain_count_total || "N/A" }}</div>
        </td>
      </tr>
      <tr>
        <td>
          Last updated:
        </td>
        <td>
          <div>{{ registrar.updated_time || "N/A" }}</div>
        </td>
      </tr>
    </table>

    <!-- <button type="submit" class="btn btn-primary">Update</button> -->
  </div>

  <div class="container" *ngIf="registrar.refresh_method=='api'">
    <div class="form-group">
        <button class="btn btn-primary" (click)="refreshFromAPI()">Refresh from API</button>
    </div>
  </div>

  <div class="container" *ngIf="registrar.refresh_method=='csvfile'">
    <div class="form-group">
        <label for="file">Upload CSV file:</label>
        <input type="file"
               id="file"
               (change)="handleCSVFileInput($event.target.files)">
    </div>
  </div>

  <div class="container" *ngIf="registrar.refresh_method=='jsonfile'">
    <div class="form-group">
        <label for="file">Upload JSON file:</label>
        <input type="file"
               id="file"
               (change)="handleJSONFileInput($event.target.files)">
    </div>
  </div>
</div>

<div *ngIf="uploading">
  <b>Uploading...</b>
</div>

<div *ngIf="refreshing">
  <b>Refreshing...</b>
</div>

<div *ngIf="loading">
  <img class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
</div>
