<label>
  Name:
  <input type="text" [formControl]="searchTerm" (keyup.enter)="search()" />
</label>
<p>
  <button (click)="search()">Search</button>
</p>

<div
  class="container"
  *ngIf="!loading && sites$ | async as sites; else notready"
>
  <!--Table-->
  <table
    class="table table-hover table-fixed"
    *ngIf="sites.length; else notready"
  >
    <!--Table head-->
    <thead>
      <tr>
        <th>#</th>
        <th>Label</th>
        <th>Hosting</th>
      </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
      <tr
        *ngFor="let site of sites; index as siteId"
        routerLink="/sites/{{ site.id }}"
      >
        <th scope="row">{{ site.id }}</th>
        <td>{{ site.label }}</td>
        <td>{{ site.hosting.label }}</td>
      </tr>
    </tbody>
    <!--Table body-->
  </table>
  <!--Table-->
</div>

<ng-template #notready>
  <div *ngIf="loading">
    <img
      class="pl-3"
      src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
    />
  </div>
  <p *ngIf="!loading">No sites found.</p>
</ng-template>
